@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #eeeeee;
}

/* General CSS */
.container {
  width: 80%;
  margin: 0px auto;
}

.quote {
  display: block;
  text-align: center;
  font-style: italic;
}

.quote::before {
  content: open-quote;
  font-size: 24px;
  padding: 0px 2px;
}

.quote::after {
  content: close-quote;
  font-size: 24px;
  padding: 0px 2px;
}

/* Navbar */
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 4em;
  line-height: 4em;
  background: rgba(105, 74, 214, 1);
  background: -moz-linear-gradient(
    90deg,
    rgba(105, 74, 214, 1) 0%,
    rgba(74, 118, 230, 1) 75%,
    rgba(76, 163, 242, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(105, 74, 214, 1) 0%,
    rgba(74, 118, 230, 1) 75%,
    rgba(76, 163, 242, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(102, 72, 213, 1) 0%,
    rgba(74, 118, 230, 1) 75%,
    rgba(76, 163, 242, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#694ad6",endColorstr="#4ca3f2",GradientType=1);
  color: #ffffff;
  box-shadow: 1px 5px 25px #363d408a;
  z-index: 5;
  transition: all 0.5s ease-in-out;
}

nav.active {
  left: 250px;
  width: calc(100vw - 250px);
}

nav .handburger {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  line-height: 4em;
  cursor: pointer;
}

nav.active .handburger {
  left: -40px;
}

nav .handburger .bar1,
nav .handburger .bar2,
nav .handburger .bar3 {
  width: 25px;
  height: 5px;
  background-color: #ffffff;
  margin: 3px 0;
  transition: 0.5s ease-in-out;
}

nav.active .handburger .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

nav.active .handburger .bar2 {
  opacity: 0;
}

nav.active .handburger .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px);
}

nav h1 {
  text-align: center;
}

/* aside */
aside {
  position: fixed;
  top: 0em;
  left: -250px;
  color: #ffffff;
  background-image: url(https://images.pexels.com/photos/276005/pexels-photo-276005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 250px;
  box-shadow: 1px 5px 25px #363d408a;
  z-index: 3;
  transition: all 0.5s ease-in-out;
}

nav.active ~ aside {
  left: 0px;
}

aside::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: rgba(105, 74, 214, 0.9);
  background: -moz-linear-gradient(
    rgba(105, 74, 214, 0.7) 0%,
    rgba(74, 118, 230, 0.7) 75%,
    rgba(76, 163, 242, 0.7) 100%
  );
  background: -webkit-linear-gradient(
    rgba(105, 74, 214, 0.7) 0%,
    rgba(74, 118, 230, 0.7) 75%,
    rgba(76, 163, 242, 0.7) 100%
  );
  background: linear-gradient(
    rgba(105, 74, 214, 0.7) 0%,
    rgba(74, 118, 230, 0.7) 75%,
    rgba(76, 163, 242, 0.7) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#694ad6e6",endColorstr="#4ca3f2e6",GradientType=1);
  z-index: -1;
}

aside article.brand {
  width: 100%;
  padding: 2em 0px;
}

aside .divider {
  margin: 0.5em 0em;
}
aside article.brand img {
  display: block;
  height: 150px;
  width: 80%;
  margin: 1em auto;
  border-radius: 50%;
}

aside article.brand .brand-details {
  text-align: center;
}

aside ul.sidenav {
  width: 100%;
  list-style: none;
  line-height: 3em;
}

aside ul.sidenav li {
  padding: 0em 2em;
  cursor: pointer;
}

aside ul.sidenav li.active,
aside ul.sidenav li:hover {
  background: #694ad6;
  background: -moz-linear-gradient(
    90deg,
    #694ad6 0%,
    #4a76e6 25%,
    #4ca3f2 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    #694ad6 0%,
    #4a76e6 25%,
    #4ca3f2 100%
  );
  background: linear-gradient(90deg, #694ad6 0%, #4a76e6 25%, #4ca3f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#694ad6",endColorstr="#4ca3f2",GradientType=1);
}
/* Main container */
main {
  position: absolute;
  top: 4em;
  left: 0px;
  text-align: center;
  width: 100%;
  min-height: calc(100vh - 4em);
  background-color: #eeeeee;
  transition: all 0.5s ease-in-out;
}
nav.active ~ main {
  left: 250px;
  width: calc(100vw - 250px);
}
main #landing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}
main #landing .card {
  border-radius: 10px;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
}
main #landing .card:hover {
  box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
}
main #landing .card .card-image {
  width: 100%;
  height: 450px;
}
main #landing .card .card-image img {
  width: 100%;
  height: 100%;
}
main #landing .card .card-content {
  padding: 1em 0.25em 3em;
  text-align: justify;
}
main #landing .box-container {
  position: absolute;
  top: 95%;
  left: 5%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
}
main #landing .box-container .box {
  background-color: #ffffff;
  text-align: justify;
  padding: 0em 1em 1em;
  border-radius: 5px;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  cursor: pointer;
}
main #landing .box-container .box:hover {
  box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
}
main #landing .box-container .box-title {
  text-align: center;
  margin: 1em auto;
}
main #landing .box-container .box:nth-child(1) {
  /* background-color: #ff5733; */
}
main #landing .box-container .box:nth-child(2) {
  /* background-color: #ff5733; */
}
main #landing .box-container .box:nth-child(3) {
  /* background-color: #ff5733; */
}
/* Model section */
.model {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 61, 73, 0.8);
  z-index: 10;
  display: none;
  transition: all 0.5s ease-in-out;
}
.model.active {
  display: block;
}
.model .model-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #ffffff;
  min-height: 80vh;
  min-width: 80vw;
}
.model .model-inner .model-header,
.model .model-inner .model-footer {
  background: rgba(105, 74, 214, 1);
  background: -moz-linear-gradient(
    90deg,
    rgba(105, 74, 214, 1) 0%,
    rgba(74, 118, 230, 1) 75%,
    rgba(76, 163, 242, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(105, 74, 214, 1) 0%,
    rgba(74, 118, 230, 1) 75%,
    rgba(76, 163, 242, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(102, 72, 213, 1) 0%,
    rgba(74, 118, 230, 1) 75%,
    rgba(76, 163, 242, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#694ad6",endColorstr="#4ca3f2",GradientType=1);
  height: 3em;
  line-height: 3em;
  color: #ffffff;
}
.model .model-inner .model-header .model-title {
  text-align: center;
}
.model .model-inner .model-header a {
  position: absolute;
  top: 0;
  right: 1em;
  font-size: 36px;
  text-decoration: none;
  color: inherit;
}
.model .model-inner .model-content {
  position: relative;
  padding: 3em auto;
  width: 100%;
  height: 100%;
  max-height: 70vh;
  overflow: hidden;
}
.model .model-inner .model-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.model .model-inner .model-footer a {
  text-decoration: none;
  color: #ffffff;
  float: right;
  margin: 0px 2em;
}
